body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

img {
  border-radius: 10%;
  width: 100%;
}

.main-text {
  background-color:  hsl(0, 0%, 100%);
  text-align: center;
  padding: 20px;
  height: 450px;
  width: 300px;
  border-radius: 5%;
  margin: 200px auto 200px auto;
  color: hsl(218, 44%, 22%);
}

p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}
